@font-face {
    font-family: Google Sans;
    src: url(/resources/fonts/GoogleSans-Regular.ttf);
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Google Sans';
}
body {
    height: 100%;
    background-image: linear-gradient(to bottom right, #71afe5 , #005a9e);
}
* {box-sizing: border-box;}
.primary-color {background: #0078d4;}
.text-color-dark {color: #323130;}
.text-color-light {color: #ffffff;}
.bg-light {background: #ffffff;}
.rounded-corner {border-radius: 5px;}
.rounded-corner-less {border-radius: 2px;}
.border {border: 1px solid #323130;}
.no-border {border: none;}
.shadow {
    border: 1px;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2);
}
.acrylic {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-blend-mode: exclusion;
    background: rgba(255, 255, 255, 0.6);
}
.header {width: 100%;}
.header .header-row {
    display: flex;
    width: 100%;
    height: 48px;
    line-height: 48px;
}
.header .header-row .header-logo-container {
    padding: 10px;
    width: 48px;
    height: 48px;
}
.header .header-row .header-logo-container .header-logo {
    width: 28px;
    height: 28px;
}
.header .header-row a {
    text-decoration: none;
}
.header .header-row .header-title {
    font-size: 24px;
}
.main-layout {
    display: flex;
    padding-top: 5vw;
    padding-left: 30vw;
    padding-right: 30vw;
    width: 100%;
    justify-self: center;
}
.main-layout .form-container {
    padding: 10px;
    padding-bottom: 0;
    width: 100%;
    overflow: hidden;
}
.main-layout .form-container .form-title-row {
    padding: 10px;
    width: 100%;
    line-height: 24px;
}
.main-layout .form-container .form-title-row .form-title {
    font-size: 24px;
    font-weight: bold;
}
.main-layout .form-container .form-element-row {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    line-height: 28px;
    font-size: 18px;
}
.main-layout .form-container .form-element-row .element-label {
    width: 30%;
}
.main-layout .form-container .form-element-row .element-label-error {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    transition: 0.2s;
    opacity: 0;
    color: red;
}
.main-layout .form-container input {
    border: 1px solid #323130;
    line-height: 28px;
    font-size: 14px;
    padding-left: 10px;
}
.main-layout .form-container textarea {
    border: 1px solid #323130;
    line-height: 28px;
    font-size: 14px;
    padding-left: 10px;
    width: 65%;
    resize: none;
    font-family: Google Sans;
}
.main-layout .form-container input[type=text] {
    width: 65%;
}
.main-layout .form-container select {
    width: 20%;
    border: 1px solid #323130;
    font-size: 14px;
    padding: 5px;
}
.main-layout .form-container .form-button-row {
    width: 100%;
    height: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.main-layout .form-container .form-button-row .form-buttons {
    float: right;
    width: fit-content;
    padding: 10px;
}
.main-layout .form-container .form-button-row .form-button-submit {
    cursor: pointer;
    width: 128px;
    height: 32px;
    font: 400 14px Arial;
}
.main-layout .form-container .form-button-row .form-button-submit span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.main-layout .form-container .form-button-row .form-button-submit span:after {
    position: absolute;
    font-family: 'Material Icons';
    content: " \e876";
    opacity: 0;
    right: -20px;
    transition: 0.2s;
}
.main-layout .form-container .form-button-row .form-button-submit:hover {
    filter: brightness(95%);
}
.main-layout .form-container .form-button-row .form-button-submit:hover span:after {
    opacity: 1;
}
.main-layout .form-container .form-button-row .form-button-submit:active {
    filter: brightness(85%);
}
.main-layout .form-container .form-button-row .form-button-reset {
    cursor: pointer;
    margin-left: 10px;
    width: 128px;
    height: 32px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font: 400 14px Arial;
}
.main-layout .form-container .form-button-row .form-button-reset span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.main-layout .form-container .form-button-row .form-button-reset span:after {
    position: absolute;
    font-family: 'Material Icons';
    content: " \e042";
    opacity: 0;
    right: -20px;
    transition: 0.2s;
}
.main-layout .form-container .form-button-row .form-button-reset:hover span:after {
    opacity: 1;
}
.main-layout .form-container .form-button-row .form-button-reset:active {
    filter: brightness(85%);
}
.main-layout .form-container .form-button-row .form-button-reset:active {
    filter: brightness(95%);
}

.alert {
    position: fixed;
    z-index: 1;
    padding: 18px;
    padding-top: 10px;
    padding-bottom: 32px;
    bottom: 5vw;
    right: 5vw;
    width: 512px;
    opacity: 0;
    transition: 0.5s;
    height: fit-content;
    filter: blur(0px);
}
.alert .alert-button-row {
    width: 100%;
    height: 24px;
}
.alert .alert-button-row .alert-close-button {
    float: right;
    font-size: 28px;
    line-height: 24px;
    color: #605e5c;
}
.alert .alert-button-row .alert-close-button:hover {
    cursor: pointer;
    color: #323130;
}
.alert .alert-button-row .alert-close-button:active {
    color: #000000;
}
.alert .alert-text-row {
    width: 100%;
    height: fit-content;
    text-align: justify;
}
.alert .alert-text-row .alert-text {
    font-size: 18px;
}
